p{
  color: black;
}
.container {
  border: 10px;
  border-color: black;
  border: 2px;
}
.myname {
  font-size: 30px;
  
}
.phone {
  font-size: 18px;
  
}
.email {
  font-size: 18px;
  
}
.summary {
  
}
.summarytitle {

}
.summarycontent {
  
}
.education{
  
}

.workhistory{

}
.jobheader{
  display: inline;
}
.historycontent{

}
.employername{
  
}
.employercity{
  float: left;
  display: inline;
}
.datesemployed{
  float: right;
  display: inline;
}
.jobtitle{

}
.specificjob{

}
.joblist{

}



