p{
  color: black;
}
.container {
  border: 10px;
  border-color: black;
  border: 2px;
}
.myname {
  font-size: 30px;
  
}
.phone {
  font-size: 18px;
  
}
.email {
  font-size: 18px;
  
}
.summary {
  
}
.summarytitle {

}
.summarycontent {
  
}
.education {
  
}


.workhistory {
  font-size: 25px;
}
.historycontent {
  
}
.jobheader {
  display: inline;
}
.employername {
  float: left;
  font-size: 20px;
}
.employercity {
  float: left:
  font-size: 20px;
}
.datesemployed {
  float: right;
  font-size: 20px;
}
.specificjob {
  font-size: 20px;
}
.jobtitle {
  font-size: 20px;
}
.jobsummary {
  font-size: 20px;
}
.joblist {
  font-size: 20px;
}




