p{
  color: black;
}
.myname {
  font-size: 100px;
  float: left;
}
.phone {
  font-size: 18px;
  float: left;
}
.email {
  font-size: 18px;
  float: right;
}
.summary {
  
}
.summarycontent {
  
}
.education history {
  
}
.historyemployername {
  
}
.employername {
  
}
.datesemployed {
  
}
.historydescription {
  
}
.historylist {
  
}
